*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --purple-color: #BF94FF;
  --black-color: #1F1F23;
  --white-color: #EFEFF1;
  --grey-color: #3e3e44;
  --dark-grey-color: #28282e;

}

body{
  background-color:var(--black-color) !important;
  color: var(--white-color)  !important;
}
.charts-container{
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.top-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.search-input{
  background-color:var(--dark-grey-color);
  outline: none;
  border: none;
  color: inherit;
  padding: 7px;
  border-radius: 5px;
}