.chart {
    background-color: #28282e;
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0 0 0;
}

.chart__channel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.channel__logo-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.channel__name {
    margin: 10px;
}

.channel__logo {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.chart__stream-time {
    text-align: center;
}

.chart__stream-avg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-tooltip{
    background-color: var(--grey-color);
    color: var(--white-color);
    padding: 10px;
}
.green-text{
    color: var(--green-color);
}
.purple-text{
    color: var(--purple-color);
}
.recharts-legend-wrapper{
    width: auto!important;
    position: static!important;
    display: block;
}
.chart__graph{
    min-height: 360px;
    height: 70%;
}


@media screen and (max-width: 1280px){
    
  }
  @media screen and (max-width: 1050px){
    
  }
  @media screen and (max-width: 768px){
    .chart {
        padding: 10px;
    }
    .chart__channel > *{
        margin-top: 8px;
        margin-bottom: 8px;
    }
  }